@media screen and (max-width: 1366px) {
	.rugby-modern-heading-primary {
        font-size: 60px;
        line-height: 70px;
    }
    .rugby-modern-heading-description {
        font-size: 16px;
        font-weight: 400;
    }
    .rugby-image-box-title {
        font-size: 30px;
        line-height: 30px;
    }
    .figure-bottom-left {
        left: -27px;
    }
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 500px) {
	

}